/* ========================================================
*
* Melon - Flat & Responsive Admin Template
*
* ========================================================
*
* File: login.css
* Description: Login template styling
* Version: 1.0
*
* ======================================================== */
a {
color: white;

}
a:hover
{
color:#229dca;
}
.login-background {
                
                background: #315b74; /* Old browsers */
                background: -moz-linear-gradient(left,  #315b74 0%, #23799a 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right top, color-stop(0%,#315b74), color-stop(100%,#23799a)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(left,  #315b74 0%,#23799a 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(left,  #315b74 0%,#23799a 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(left,  #315b74 0%,#23799a 100%); /* IE10+ */
                background: linear-gradient(to right,  #315b74 0%,#23799a 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#315b74', endColorstr='#23799a',GradientType=1 ); /* IE6-9 */
                width: 100%;
                height:100%;
                
                
                
                
                
                
                
              }

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
body.login  {
  background-color: #f9f9f9;
  display:block;
  width:100%;
 height:100%;
min-height:100%; 
  /* Helper */

}
.login .logo,
.login .single-sign-on,
.login .footer {
  margin: 0 auto;
  text-align: center;
}
.login .logo {
  padding: 15px;
  font-size: 23px;
  padding-top:80px;
}
.login .box {
  background-color: #fff;
  width: 350px;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  border-top: 5px solid #229dca;
  
  /* * * * * * * * * * * *
		 * Inner Box
		 * * * * * * * * * * * */

}
.login .box .content {
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.login .box .content .a {
  color:#6A645A;
}
.login .box form {
  padding: 0;
  margin: 0;
}
.login .box .form-title {
  text-align: center;
  font-weight: 300;
  margin-bottom: 25px;
}
.login .box .form-group {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.login .box .form-actions {
  background-color: #fff;
  border-top: none;
  padding: 10px 0;
  margin: 0;
}
.login .box .input-icon input {
  border-left: 2px solid #4d7496;
}
.login .box .has-error .input-icon input {
  border-left-color: #b94a48;
}
.login .box .has-success .input-icon input {
  border-left-color: #468847;
}
.login .box .checkbox {
  margin-top: 7px;
}
.login .box .inner-box {
  background-color: #f9f9f9;
  border-top: 1px solid #c0c0c0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.login .box .inner-box .content {
  padding: 12px 30px;
  text-align: center;
}
.login .box .inner-box a {
  color: #229dca;
  font-size: 12px;
  font-weight: 600;
}
.login .box .inner-box a:hover {
  text-decoration: none;
  color: #4d7496;
}
.login .box .inner-box .close {
  font-size: 12px;
  margin-top: -3px;
  margin-right: -20px;
}
.login .box .inner-box .close.hide-default {
  display: none;
}
.login .box .inner-box form {
  margin-top: 10px;
  margin-bottom: 10px;
}
.login .box .inner-box a + form {
  margin-top: 20px;
}
.login .box .inner-box .form-group {
  margin-bottom: 10px;
}
.login .box .inner-box .forgot-password-done {
  padding: 10px 0;
}
.login .box .inner-box .forgot-password-done .success-icon,
.login .box .inner-box .forgot-password-done .danger-icon {
  display: block;
  font-size: 30px;
  padding: 15px;
  padding-top: 0;
}
.login .box .inner-box .forgot-password-done .success-icon {
  color: #94b86e;
}
.login .box .inner-box .forgot-password-done .danger-icon {
  color: #e25856;
}
.login .box .inner-box .forgot-password-done span {
  font-weight: 600;
}
.login .single-sign-on {
  width: 350px;
  padding: 15px 0;
  
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
  color:white;
}
.login .single-sign-on:hover {
  opacity: 1;
  
}
.login .single-sign-on span {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
  color:white;
}
.login .single-sign-on .btn i {
  padding-right: 5px;
}
.login .footer {
  width: 350px;
  padding-top:30px;
  color:white;
}
.login .footer a {
  font-size: 13px;
  color:white;
}
.login .footer a:hover {
  text-decoration: none;
  color:#229dca;
}
.login .spacing-top {
  padding-top: 7px !important;
}
