<!-- This is the view for the confirmation page when a link to reset the password has been sent -->

<html ng-app="MainApp">
<head>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>

	
    <link href="css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="css/icons.css" rel="stylesheet" type="text/css" />

  
    <link href="css/signup.css" rel="stylesheet" type="text/css" />
	<!--=== JavaScript ===-->



<style type="text/css">

.card {
	max-width: 500px;
	margin-top: 70px;
  background-image: linear-gradient(to bottom, #fff, #fafafa);
	border-top: 5px solid #229dca;
	border-radius: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 15px 35px;
  }

.login{

	background: #315b74;
	background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,rgba(55,107,176,1) 0,rgba(83,149,200,1) 100%);
}



.msg-block {
    margin-top:5px;
}
.msg-error {
    color:#F00;
    font-size:14px;
}

.control-group {
  margin-bottom:20px;
}
/*.ng-dirty.ng-valid{
  border: 1px solid #55B05A !important;
  background: url('valid.png') no-repeat 100% 0;
}*/
.error-messages.ng-active {
  background:maroon;
  color:white;
  padding:5px;
  border-radius:5px;
  margin-top:15px;
  position:relative;
}
.error-messages.ng-active:after {
  position:absolute;
  top:-10px;
  content:"";
  left:10px;
  border-style:solid;
  border-color:transparent transparent maroon;
  border-width:5px;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.login .single-sign-on {
    margin: 0 auto;
    text-align:center;
}
.login .footer {
    margin: 0 auto;
    text-align: center;
}
.login .footer {
  width: 400px;
  padding-top:30px;
  
}
.login .footer a {
  font-size: 15px;
 
}
.login .spacing-top {
  padding-top: 7px !important;
}


.logo-main {
    padding: 15px;
    text-align: center;
    padding-top: 60px;
}
.btn-verify { 
  color: #ffffff; 
  background-color: #1BC89B; 
  border-color: #1BC89B; 
} 
 
.btn-verify:hover, 
.btn-verify:focus, 
.btn-verify:active, 
.btn-verify.active, 
.open .dropdown-toggle.btn-verify { 
  color: #ffffff; 
  background-color: #009E74; 
  border-color: #1BC89B; 
} 
 
.btn-verify:active, 
.btn-verify.active, 
.open .dropdown-toggle.btn-verify { 
  background-image: none; 
} 
 
.btn-verify.disabled, 
.btn-verify[disabled], 
fieldset[disabled] .btn-verify, 
.btn-verify.disabled:hover, 
.btn-verify[disabled]:hover, 
fieldset[disabled] .btn-verify:hover, 
.btn-verify.disabled:focus, 
.btn-verify[disabled]:focus, 
fieldset[disabled] .btn-verify:focus, 
.btn-verify.disabled:active, 
.btn-verify[disabled]:active, 
fieldset[disabled] .btn-verify:active, 
.btn-verify.disabled.active, 
.btn-verify[disabled].active, 
fieldset[disabled] .btn-verify.active { 
  background-color: #1BC89B; 
  border-color: #1BC89B; 
} 
 
.btn-verify .badge { 
  color: #1BC89B; 
  background-color: #ffffff; 
}
div.footer
{
    color: white;
}
h4{
  color: #606060;
}
input { margin-bottom: 5px; }
body, html {
    height: 100%;
    font-family: 'Roboto';
   
    /*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/

   	/*background-image: linear-gradient(to bottom,rgba(55,107,176,1) 0,rgba(83,149,200,1) 100%)*/
}


</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-messages.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>

<script src="../js/app.js"></script>

<script src="../js/controllers/SignupController.js"></script>
<script src="../js/controllers/PasswordController.js"></script>

<script src="../js/controllers/LoginController.js"></script>
<script src="../js/controllers/ValidationController.js"></script>

</head>
   
   <body class="login"  ng-controller="PasswordController">
    <div class="login-background">
        <!-- /Logo -->
        <div class="container">
            <div class="logo-main">
                <img src="assets/img/logonxtorbs.png" alt="logo" width="230px" height="60px">
            </div>

            <div class="card card-container">
                
                <div class="row">
                    <h4>Email Sent Please Check Inbox</h4>
                    <br>
                    <p>If {{sentmail}} is registered with Nextorbit you should recieve an email containing instructions on how to create a new password.</p>

                </div>
                <div class="row">
                <strong><h5>Didn't receive the email?</h5></strong>
                <p>Check the spam or bulk folders coming from admin@nextorbit.com</p>

                </div>
                <!--end row -->
                <hr>
               
                <div class="row">

                    <div class="col-md-12" align="center">
                        <a href="login.html" class="anchor"><strong>Back to Login</strong></a>
                    </div>
                    
                </div>
              
               
            </div>
            <!-- card end -->
        </div>
        <!-- /container -->
        <div class="footer">
            Copyright &copy; 2015-NextOrbit. All rights reserved.
        </div>
        <!-- /Footer -->
    </div>
    <!-- login background -->


</body>
</html>