<html>
<head>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
	
    <link href="css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="css/icons.css" rel="stylesheet" type="text/css" />

  
    <link href="css/signup.css" rel="stylesheet" type="text/css" />
	<!--=== JavaScript ===-->



<style type="text/css">

.navbar-fixed-top {
min-height: 40px;
border-top: 5px solid #229dca;
}

.card {
max-width: 500px;

}
.login .single-sign-on {
    margin: 0 auto;
    text-align:center;
}
.login .footer {
    margin: 0 auto;
    text-align: center;
}
.login .footer {
  width: 400px;
  padding-top:30px;
  
}
.login .footer a {
  font-size: 15px;
 
}
.login .spacing-top {
  padding-top: 7px !important;
}

.login .logo {
    padding: 15px;
    font-size: 23px;
    padding-top: 30px;
}

.logo-navbar{
    width:230px;
    height:50px;
    padding-left:30px;
}

.btn-verify { 
  color: #ffffff; 
  background-color: #1BC89B; 
  border-color: #1BC89B; 
} 
 
.btn-verify:hover, 
.btn-verify:focus, 
.btn-verify:active, 
.btn-verify.active, 
.open .dropdown-toggle.btn-verify { 
  color: #ffffff; 
  background-color: #009E74; 
  border-color: #1BC89B; 
} 
 
.btn-verify:active, 
.btn-verify.active, 
.open .dropdown-toggle.btn-verify { 
  background-image: none; 
} 
 
.btn-verify.disabled, 
.btn-verify[disabled], 
fieldset[disabled] .btn-verify, 
.btn-verify.disabled:hover, 
.btn-verify[disabled]:hover, 
fieldset[disabled] .btn-verify:hover, 
.btn-verify.disabled:focus, 
.btn-verify[disabled]:focus, 
fieldset[disabled] .btn-verify:focus, 
.btn-verify.disabled:active, 
.btn-verify[disabled]:active, 
fieldset[disabled] .btn-verify:active, 
.btn-verify.disabled.active, 
.btn-verify[disabled].active, 
fieldset[disabled] .btn-verify.active { 
  background-color: #1BC89B; 
  border-color: #1BC89B; 
} 
 
.btn-verify .badge { 
  color: #1BC89B; 
  background-color: #ffffff; 
}

div.footer
{
    color: white;
}
input { margin-bottom: 5px; }
body, html {
    height: 100%;
   
    /*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/

   	/*background-image: linear-gradient(to bottom,rgba(55,107,176,1) 0,rgba(83,149,200,1) 100%)*/
}


</style>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
    <script src="../js/app.js"></script>
</head>
   
    <body class="login" ng-app="validationApp" ng-controller="mainController">
    <div class="login-background">
        <nav class="navbar navbar-default navbar-fixed-top">

            <div class="logo-navbar">
                <img src="assets/img/loginlogo.png" alt="logo">

            </div>


        </nav>

        <div class="container">
            <div class="card card-container">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assests/img/mail.png" alt="image">
                    </div>

                    <div class="col-md-9">
                        <strong>Via SMS a verfication code has been sent to your registered mobile number.
                        </strong>
                    </div>
                </div>
                <!--end row -->
                <br>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">

                                    <input type="text" name="lastname" class="form-control" ng-model="user.otp" required placeholder="Enter the verification Code">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-verify">
                                    Verify
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <a href="#" class="anchor">Resend</a> | <a href="signup-setup.html">Change Number?</a>
                    </div>
                </div>


            </div>
            <!-- card container-->
        </div>
        <div class="single-sign-on">
            Already have an acccount?
            <a href="login.html"> <strong>Log In</strong>
            </a>
        </div>

        <div class="footer">
            Copyright &copy; 2015-NextOrbit. All rights reserved.
        </div>
        <!-- /Footer -->
  </body>
</html>