<!-- repos\signup\vendor\laravel\framework\src\Illuminate\Foundation\Auth\ResetsPassword.php -->
<html ng-app="MainApp">
<head>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
<link href="css/signup.css" rel="stylesheet" type="text/css" />

  <style type="text/css">

.card {
	max-width: 450px;
	border-top: 5px solid #229dca;
  background-image: linear-gradient(to bottom, #fff, #fafafa);
  margin-top: 60px;
	border-radius: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 40px;
  }

.login{

	background: #315b74;
	background-repeat: no-repeat;
  background-image: linear-gradient(to bottom,rgba(55,107,176,1) 0,rgba(83,149,200,1) 100%);
}


.login .single-sign-on {
    margin: 0 auto;
    text-align:center;
}
.login .footer {
    margin: 0 auto;
    text-align: center;
}
.login .footer {
  width: 400px;
  padding-top:30px;
  
}
.login .footer a {
  font-size: 15px;
 
}
.login .spacing-top {
  padding-top: 7px !important;
}

.logo-main {
    padding: 15px;
    text-align: center;
    padding-top: 60px;
}

.btn-verify { 
  color: #ffffff; 
  background-color: #1BC89B; 
  border-color: #1BC89B;
  padding: 20px ;
  vertical-align: top;
  line-height: 0px; 
} 
 
.btn-verify:hover, 
.btn-verify:focus, 
.btn-verify:active, 
.btn-verify.active, 
.open .dropdown-toggle.btn-verify { 
  color: #ffffff; 
  background-color: #009E74; 
  border-color: #1BC89B; 
} 
 
.btn-verify:active, 
.btn-verify.active, 
.open .dropdown-toggle.btn-verify { 
  background-image: none; 
} 
 
.btn-verify.disabled, 
.btn-verify[disabled], 
fieldset[disabled] .btn-verify, 
.btn-verify.disabled:hover, 
.btn-verify[disabled]:hover, 
fieldset[disabled] .btn-verify:hover, 
.btn-verify.disabled:focus, 
.btn-verify[disabled]:focus, 
fieldset[disabled] .btn-verify:focus, 
.btn-verify.disabled:active, 
.btn-verify[disabled]:active, 
fieldset[disabled] .btn-verify:active, 
.btn-verify.disabled.active, 
.btn-verify[disabled].active, 
fieldset[disabled] .btn-verify.active { 
  background-color: #1BC89B; 
  border-color: #1BC89B; 
} 
 
.btn-verify .badge { 
  color: #1BC89B; 
  background-color: #ffffff; 
}
.msg-block {
    margin-top:5px;
}
.msg-error {
    color:#F00;
    font-size:14px;
}

.control-group {
  margin-bottom:20px;
}
/*.ng-dirty.ng-valid{
  border: 1px solid #55B05A !important;
  background: url('valid.png') no-repeat 100% 0;
}*/
.error-messages.ng-active {
  background:maroon;
  color:white;
  padding:5px;
  border-radius:5px;
  margin-top:15px;
  position:relative;
}
.error-messages.ng-active:after {
  position:absolute;
  top:-10px;
  content:"";
  left:10px;
  border-style:solid;
  border-color:transparent transparent maroon;
  border-width:5px;
}
h4{

  color: #606060;
}
input { margin-bottom: 10px; }
div.footer
{
    color: white;
}
body, html {
    height: 100%;
    font-family: 'Roboto';
    /*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/

   	/*background-image: linear-gradient(to bottom,rgba(55,107,176,1) 0,rgba(83,149,200,1) 100%)*/
}


</style>

<!--=== JavaScript ===-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
<script type="text/javascript" src="../js/angular-messages.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-route.js"></script>
 <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
<script src="../js/app.js"></script>

<script src="../js/controllers/LoginController.js"></script>
<script src="../js/controllers/SignupController.js"></script>
<script src="../js/controllers/PasswordController.js"></script>
<script src="../js/controllers/ValidationController.js"></script>


</head>

<body class="login" ng-controller="PasswordController"> <!-- check this -->
<div class="login-background">
    <!-- /Logo -->
    <div class="container">
    <div class="logo-main">
        <img src="assets/img/logonxtorbs.png" alt="logo" width="230px" height="60px">
    </div>
    <div class="card card-container">
        <center>
            <h4>Password Reset</h4>
        </center>
       <form name="reset_form" ng-controller="PasswordController"  ng-submit="resetPassword()" novalidate>
             <div class="row"> <!-- check this -->
                <div class="col-md-12">
                    <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" ng-model="email"  name="password" placeholder="Enter Registered Email" required />
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <label for="input_password">Password</label>
                  <input class="form-control" type="password" name="password" id="input_password" ng-model="password" ng-minlength="6" ng-maxlength="12" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" password-characters-validator required  />
                  <div class="error-messages" ng-if="interacted(setup.password)" ng-messages="setup.password.$error" ng-messages-include="form-messages"></div>
              </div>
            </div>
          <div class="row">
              <div class="col-md-12">
                  <label for="input_passwordConfirm">Confirm Password</label>
                  <input class="form-control" type="password" name="passwordConfirm" id="input_passwordConfirm" ng-model="password_confirmation" ng-minlength="6" ng-maxlength="12" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" password-characters-validator match-validator="password" required p />
                  <div class="error-messages" ng-if="interacted(setup.passwordConfirm)" ng-messages="setup.passwordConfirm.$error" ng-messages-include="form-messages">
                      <div ng-message="match">This password does not match the password entered before</div>
                  </div>
              </div>
          </div>
            <br>
            
            <div class="row">
              <div class="col-md-12">
                  <button type="submit" class="btn btn-verify btn-block" style="float: right;">
                      Reset Password
                  </button>
              </div>
            </div>
        </form>
    </div>
    <!-- card end -->
    <div class="footer">
        Copyright &copy; 2015-NextOrbit. All rights reserved.
    </div>
</div>
  </div>


</body>
</html>