<!-- step 1 -->
 <script type="text/ng-template" id="form-messages">
        <div ng-message="required">Cannot be blank</div>
        <div ng-message="minlength">Too short</div>
        <div ng-message="maxlength">Too long</div>
        <div ng-message="email">Invalid email</div>
        <div ng-message="pattern">You did not enter the value in the correct format</div>
        <div ng-message="password-characters">
            The password must be atleast eight characters including one uppercase letter, one special character and a number.
        </div>
</script>


<ul class="progress-indicator">
            <li class="completed">
                <span class="bubble"></span>
                Step 1.<br>Setup Here
            </li>
            <li>
                 <span class="bubble"></span>
                Step 2.<br>Verify Email
            </li>
</ul>
<div class="card card-container">
    <form name="setup" 
    ng-controller="SignupController" 
    ng-model="user"
    ng-cloak class="ng-cloak" 
    ng-submit="signupSubmit()" novalidate>

    <!-- NAME -->
    <div class="row">
        <div class="col-md-6">

            <label for="input_firstName">First Name</label>
            <input class="form-control" type="text" name="firstName" id="input_firstName" ng-model="first_name" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" required  />
            <div class="error-messages" ng-if="interacted(setup.firstName)" ng-messages="setup.firstName.$error" ng-messages-include="form-messages">
                <!-- remove the next line to use the default 'Cannot be blank' message defined  in script above -->
                <div ng-message="required">First name is required</div>
            </div>
        </div>
        <div class="col-md-6">
            <label for="input_lastName">Last Name</label>
            <input class="form-control" type="text" name="lastName" id="input_lastName" ng-model="last_name" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" required  />
            <div class="error-messages" ng-if="interacted(setup.lastName)" ng-messages="setup.lastName.$error" ng-messages-include="form-messages">
                <div ng-message="required">Last name is required</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <label for="input_emailId">Email</label>
            <input class="form-control" type="email" name="emailId" id="input_emailId" ng-model="email" fake-remote-record-validator="fakeEmails" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" required placeholder="you@company.com" />
            <div class="error-messages" ng-if="interacted(setup.emailId)" ng-messages="setup.emailId.$error" ng-messages-include="form-messages">
                <div ng-message="required">Email is required</div>
                <div ng-message="record-loading">Verifying EmailId...</div>
                <div ng-message="record-taken">{{ $parent.data.emailId }} already exists</div>
            </div>

        </div>
        <div class="col-md-6">
            <label for="input_mobile">Mobile</label>
            <input class="form-control" type="text" name="mobile" id="input_mobile" ng-model="mobile_number" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" required  />
            <div class="error-messages" ng-if="interacted(setup.mobile)" ng-messages="setup.mobile.$error" ng-messages-include="form-messages">
                <div ng-message="required">Mobile Number is required</div>
                <div ng-message="record-loading">Verifying EmailId...</div>
                <div ng-message="record-taken">{{ $parent.data.emailId }} already exists</div>
            </div>
        </div>
    </div>
    <!-- Password-->

    <div class="row">
        <div class="col-md-12">

            <label for="input_password">Password</label>
            <input class="form-control" type="password" name="password" id="input_password" ng-model="password" ng-minlength="6" ng-maxlength="12" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" password-characters-validator required  />
            <div class="error-messages" ng-if="interacted(setup.password)" ng-messages="setup.password.$error" ng-messages-include="form-messages"></div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">

            <label for="input_passwordConfirm">Confirm Password</label>
            <input class="form-control" type="password" name="passwordConfirm" id="input_passwordConfirm" ng-model="passwordConfirm" ng-minlength="6" ng-maxlength="12" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" password-characters-validator match-validator="password" required />
            <div class="error-messages" ng-if="interacted(setup.passwordConfirm)" ng-messages="setup.passwordConfirm.$error" >
                <div ng-message="match">This password does not match the password entered before</div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="input_companyName">Company</label>
            <input class="form-control" type="text" name="companyName" id="input_companyName" ng-model="company_name" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" required  />
            <div class="error-messages" ng-if="interacted(setup.companyName)" ng-messages="setup.companyName.$error" ng-messages-include="form-messages">
                <!-- remove the next line to use the default 'Cannot be blank' message defined  in script above -->
                <div ng-message="required">Company name is required</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="input_roleName">Role/Designation</label>
            <input class="form-control" type="text" name="roleName" id="input_roleName" ng-model="role_name" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" required  />
            <div class="error-messages" ng-if="interacted(setup.roleName)" ng-messages="setup.roleName.$error" ng-messages-include="form-messages">
                <!-- remove the next line to use the default 'Cannot be blank' message defined  in script above -->
                <div ng-message="required">Role/Designation is required</div>
            </div>
        </div>
        <div class="col-md-6">

            <label for="country">Select Country</label>
                <select class="form-control" id="country" name="country" ng-model="country" required>
                    <option value="">Select a Country</option>
                    <option ng-repeat="country in countries" value="{{country.code}}" required>{{country.name}}</option>
                </select>
                <div class="error-messages" ng-if="interacted(setup.country)" ng-messages="setup.country.$error" ng-messages-include="form-messages">
                <div ng-message="required">Country is required</div>
        </div>
    </div>
    </div>
    <div class="invalid-id" ng-show="signupMessage"><strong>Could not Signup, Please check all fields.</strong></div>
    <div class="row">
        <div class="col-md-12">
    <button class="btn btn-block btn-signup" type="submit" >Sign up</button>
        </div>
    </div>
    </form>


 </div>
