<style type="text/css">

.navbar-fixed-top {
min-height: 40px;
border-top: 5px solid #229dca;
}

.card {
max-width: 450px;
background-image: linear-gradient(to bottom, #fff, #fafafa);

}
.login .single-sign-on {
    margin: 0 auto;
    text-align:center;
}

.login .spacing-top {
  padding-top: 7px !important;
}

.login .logo {
    padding: 15px;
    font-size: 23px;
    padding-top: 30px;
}

.logo-navbar{
    width:230px;
    height:50px;
    padding-left:30px;
}

.btn-verify { 
  color: #ffffff; 
  background-color: #1BC89B; 
  border-color: #1BC89B; 
} 
 
.btn-verify:hover, 
.btn-verify:focus, 
.btn-verify:active, 
.btn-verify.active, 
.open .dropdown-toggle.btn-verify { 
  color: #ffffff; 
  background-color: #009E74; 
  border-color: #1BC89B; 
} 
 
.btn-verify:active, 
.btn-verify.active, 
.open .dropdown-toggle.btn-verify { 
  background-image: none; 
} 
 
.btn-verify.disabled, 
.btn-verify[disabled], 
fieldset[disabled] .btn-verify, 
.btn-verify.disabled:hover, 
.btn-verify[disabled]:hover, 
fieldset[disabled] .btn-verify:hover, 
.btn-verify.disabled:focus, 
.btn-verify[disabled]:focus, 
fieldset[disabled] .btn-verify:focus, 
.btn-verify.disabled:active, 
.btn-verify[disabled]:active, 
fieldset[disabled] .btn-verify:active, 
.btn-verify.disabled.active, 
.btn-verify[disabled].active, 
fieldset[disabled] .btn-verify.active { 
  background-color: #1BC89B; 
  border-color: #1BC89B; 
} 
 
.btn-verify .badge { 
  color: #1BC89B; 
  background-color: #ffffff; 
}
input { margin-bottom: 5px; }
body, html {
    height: 100%;
   
    /*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/

    /*background-image: linear-gradient(to bottom,rgba(55,107,176,1) 0,rgba(83,149,200,1) 100%)*/
}


</style>

<div class="card card-container">
    <div class="row">
        <div class="col-md-3">
            <img src="assests/img/mail.png" alt="image">
        </div>

        <div class="col-md-9">
            <strong>Via SMS a verfication code has been sent to your registered mobile number.
        </strong>
        </div>
    </div>
    <!--end row -->
    <br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <form ng-model="otp" ng-controller="SignupController" ng-submit="otpSubmit()" novalidate>
            <div class="row">
                <div class="col-md-9">
                    

                        <input type="text" name="lastname" class="form-control" ng-model="user.otp" required placeholder="Enter the verification Code">

                    </div>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-verify">
                        Verify
                    </button>
                </div>
              </form>
            </div>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <a href="#" class="anchor">Resend</a> | <a href="#" class="forgot-password-link">Change Number?</a>
        </div>
    </div>
</div>

  