<!-- NOT FOR ACTUAL APPLICATION CODE ONLY TESTING -->
<html ng-app="SignupApp">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="css/icons.css" rel="stylesheet" type="text/css" />

  
    <link href="css/signup.css" rel="stylesheet" type="text/css" />
    <!--=== JavaScript ===-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="../js/app.js"></script>
    
    
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
    <script type="text/javascript" src="../js/angular-messages.js"></script>

<style type="text/css">


.navbar-fixed-top {
min-height: 40px;
border-top: 5px solid #229dca;
}

.btn-signup { 
  color: #ffffff; 
  background-color: #1BC89B; 
  border-color: #1BC89B; 
} 
 
.btn-signup:hover, 
.btn-signup:focus, 
.btn-signup:active, 
.btn-signup.active, 
.open .dropdown-toggle.btn-signup { 
  color: #ffffff; 
  background-color: #009E74; 
  border-color: #1BC89B; 
} 

.card {
max-width: 500px;
margin-top: 80px;

}

.login .single-sign-on {
    margin: 0 auto;
    text-align:center;
}
.login .footer {
    margin: 0 auto;
    text-align: center;
}
.login .footer {
  width: 400px;
  padding-top:30px;
  
}
.login .footer a {
  font-size: 15px;
 
}
.login .spacing-top {
  padding-top: 7px !important;
}

.login .logo {
    padding: 15px;
    font-size: 23px;
    padding-top: 30px;
}
.logo-navbar{
    width:230px;
    height:50px;
    padding-left:30px;
}

.msg-block {
    margin-top:5px;
}
.msg-error {
    color:#F00;
    font-size:14px;
}
/*.main-form {
  position:absolute;
  left:0;
  top:0;
  width: 400px;
  background:white;
  z-index:100;
  padding:20px;
  min-height:100%;
}*/
.control-group {
  margin-bottom:20px;
}
/*.ng-dirty.ng-valid{
  border: 1px solid #55B05A !important;
  background: url('valid.png') no-repeat 100% 0;
}*/
.error-messages.ng-active {
  background:maroon;
  color:white;
  padding:5px;
  border-radius:5px;
  margin-top:15px;
  position:relative;
}
.error-messages.ng-active:after {
  position:absolute;
  top:-10px;
  content:"";
  left:10px;
  border-style:solid;
  border-color:transparent transparent maroon;
  border-width:5px;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
input { margin-bottom: 10px; }
body, html {
    height: 100%;
   
    /*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/

    /*background-image: linear-gradient(to bottom,rgba(55,107,176,1) 0,rgba(83,149,200,1) 100%)*/
}

</style>
<!-- load angular -->
  
   <script type="text/ng-template" id="form-messages">
        <div ng-message="required">Cannot be blank</div>
        <div ng-message="minlength">Too short</div>
        <div ng-message="maxlength">Too long</div>
        <div ng-message="email">Invalid email</div>
        <div ng-message="pattern">You did not enter the value in the correct format</div>
        <div ng-message="password-characters">
            Your password must consist of alphabetical or numeric characters. It must also contain at least one special character, a number as well as an uppercase letter.
        </div>
    </script>
</head>



 <!-- <body class="login" ng-app="formApp"> -->
 <body >
           <div class="login-background">
            

            <div class="container">
                <nav class="navbar navbar-default navbar-fixed-top">

                    <div class="logo-navbar">
                        <img src="assets/img/loginlogo.png" alt="logo">

                    </div>
                </nav>
                <div class="card card-container">
                    <form name="my_form" 
                    ng-controller="FormCtrl" 
                    ng-cloak class="ng-cloak" 
                    ng-submit="submit()" novalidate>

    <!-- NAME -->
    <div class="row">
        <div class="col-md-6">

            <label for="input_first_name">First Name</label>
            <input class="form-control" type="text" name="first_name" id="input_first_name" ng-model="data.first_name" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" required placeholder="First" />
            <div class="error-messages" ng-if="interacted(my_form.first_name)" ng-messages="my_form.first_name.$error" ng-messages-include="form-messages">
                <!-- remove the next line to use the default 'Cannot be blank' message defined  in script above -->
                <div ng-message="required">First name is required</div>
            </div>
        </div>
        <div class="col-md-6">
            <label for="input_last_name">Last Name</label>
            <input class="form-control" type="text" name="last_name" id="input_last_name" ng-model="data.last_name" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" required placeholder="Last" />
            <div class="error-messages" ng-if="interacted(my_form.last_name)" ng-messages="my_form.last_name.$error" ng-messages-include="form-messages">
                <div ng-message="required">Last name is required</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <label for="input_email_address">Email</label>
            <input class="form-control" type="email" name="email_address" id="input_email_address" ng-model="data.email_address" fake-remote-record-validator="fakeEmails" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" required placeholder="Email" />
            <div class="error-messages" ng-if="interacted(my_form.email_address)" ng-messages="my_form.email_address.$error" ng-messages-include="form-messages">
                <div ng-message="required">Email is required</div>
                <div ng-message="record-loading">Checking database...</div>
                <div ng-message="record-taken">{{ $parent.data.email_address }} already exists</div>
            </div>

        </div>
        <div class="col-md-6">
            <label for="input_mobile">Mobile</label>
            <input class="form-control" type="text" name="mobile" id="input_mobile" ng-model="data.mobile" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" required placeholder="Mobile Number" />
            <div class="error-messages" ng-if="interacted(my_form.mobile)" ng-messages="my_form.mobile.$error" ng-messages-include="form-messages">
                <div ng-message="required">Mobile Number is required</div>
                <div ng-message="record-loading">Checking database...</div>
                <div ng-message="record-taken">{{ $parent.data.email_address }} already exists</div>
            </div>
        </div>
    </div>
    <!-- Password-->

    <div class="row">
        <div class="col-md-12">

            <label for="input_password">Password</label>
            <input class="form-control" type="password" name="password" id="input_password" ng-model="data.password" ng-minlength="6" ng-maxlength="12" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" password-characters-validator required placeholder="Password" />
            <div class="error-messages" ng-if="interacted(my_form.password)" ng-messages="my_form.password.$error" ng-messages-include="form-messages"></div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">

            <label for="input_password_confirm">Confirm Password</label>
            <input class="form-control" type="password" name="password_confirm" id="input_password_confirm" ng-model="data.password_confirm" ng-minlength="6" ng-maxlength="12" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" password-characters-validator match-validator="data.password" required placeholder="Confirm password" />
            <div class="error-messages" ng-if="interacted(my_form.password_confirm)" ng-messages="my_form.password_confirm.$error" ng-messages-include="form-messages">
                <div ng-message="match">This password does not match the password entered before</div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label for="input_company_name">Company</label>
            <input class="form-control" type="text" name="company_name" id="input_company_name" ng-model="data.company_name" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" required placeholder="Company" />
            <div class="error-messages" ng-if="interacted(my_form.company_name)" ng-messages="my_form.company_name.$error" ng-messages-include="form-messages">
                <!-- remove the next line to use the default 'Cannot be blank' message defined  in script above -->
                <div ng-message="required">Company name is required</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="input_role_name">Role/Designation</label>
            <input class="form-control" type="text" name="role_name" id="input_role_name" ng-model="data.role_name" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" required placeholder="Role/Designation" />
            <div class="error-messages" ng-if="interacted(my_form.role_name)" ng-messages="my_form.role_name.$error" ng-messages-include="form-messages">
                <!-- remove the next line to use the default 'Cannot be blank' message defined  in script above -->
                <div ng-message="required">Role/Designation is required</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="country">Select Country</label>
                <select class="form-control" id="country" ng-controller="FormCtrl">
                    <option value="">Select a Country</option>
                    <option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>
                </select>
            </div>

        </div>
    </div>

    <button class="btn btn-block btn-signup" type="submit">Sign up</button>


</form>


        </div>
    </div>
    <center>
    <div class="single-sign-on">
        Already have an acccount?
        <a href="login.html"> <strong>Log In</strong>
        </a>
    </div>

    <div class="footer">
        Copyright &copy; 2015-NextOrbit. All rights reserved.
    </div>
    </center>

   
    </div>
    <script type="text/javascript">
angular.module('SignupApp', ['ngMessages'])
  .controller('FormCtrl', function($scope, $http) {

    $scope.fakeUsernames = ['angular', 'username', 'user', 'john', 'eric', 'noob', 'ng'];
    $scope.fakeEmails = [
      'email@email.com',
      'email@gmail.com',
      'email@website.com',
      'jon@gmail.com',
      'fake@gmail.com',
      'fake@email.com'
    ];

    $scope.submitted = false;
    $scope.submit = function() {
      $scope.submitted = true;
    };
    $scope.interacted = function(field) {
      return $scope.submitted || field.$dirty;
    };
  })
  .factory('fakeQueryService', function($timeout, $q) {
    var FAKE_TIMEOUT = 2000;
    return function(username, fakeInvalidData) {
      var defer = $q.defer();
      $timeout(function() {
        fakeInvalidData.indexOf(username) == -1
            ? defer.resolve()
            : defer.reject();
      }, FAKE_TIMEOUT);
      return defer.promise;
    }
  })
  .directive('fakeRemoteRecordValidator', ['$timeout', 'fakeQueryService', function($timeout, fakeQueryService) {
    return {
      require: 'ngModel',
      link : function(scope, element, attrs, ngModel) {
        var seedData = scope.$eval(attrs.fakeRemoteRecordValidator);
        ngModel.$parsers.push(function(value) {
          valid(false);
          loading(true);
          fakeQueryService(value, seedData).then(
            function() {
              valid(true);
              loading(false);
            },
            function() {
              valid(false);
              loading(false);
            }
          );
          return value;
        });

        function valid(bool) {
          ngModel.$setValidity('record-taken', bool);
        }

        function loading(bool) {
          ngModel.$setValidity('record-loading', !bool);
        }
      }
    }
  }])
  .directive('matchValidator', function() {
    return {
      require: 'ngModel',
      link : function(scope, element, attrs, ngModel) {
        ngModel.$parsers.push(function(value) {
          ngModel.$setValidity('match', value == scope.$eval(attrs.matchValidator));
          return value;
        });
      }
    }
  })
  .directive('passwordCharactersValidator', function() {
    var PASSWORD_FORMATS = [
      /[^\w\s]+/, //special characters
      /[A-Z]+/, //uppercase letters
      /\w+/, //other letters
      /\d+/ //numbers
    ];

    return {
      require: 'ngModel',
      link : function(scope, element, attrs, ngModel) {
        ngModel.$parsers.push(function(value) {
          var status = true;
          angular.forEach(PASSWORD_FORMATS, function(regex) {
            status = status && regex.test(value);
          });
          ngModel.$setValidity('password-characters', status);
          return value;
        });
      }
    }
  })
  .directive('showIfValid', function() {
    return {
      require: 'ngModel',
      link : function(scope, element, attrs, ngModel) {
        ngModel.$parsers.push(function(value) {
          ngModel.$setValidity('match', value == scope.$eval(attrs.matchValidator));
          return value;
        });
      }
    }
  })
</script>
</body>

</html> 