<!-- step 2 -->

<style type="text/css">

.card {
max-width: 550px;
}


</style>

<!-- http://bensmith.io/email-verification-with-laravel -->
<ul class="progress-indicator">
            <li class="completed">
                <span class="bubble"></span>
                Step 1.<br>Setup Here
            </li>
            <li class="completed">
                 <span class="bubble"></span>
                Step 2.<br>Verify Email
            </li>
</ul>
<div class="card card-container">
    <div class="row">
        <div class="col-md-3">
            <img src="assets/img/mail.png" alt="image">
        </div>
        <div class="col-md-9">
            <b>A confirmation message has been send to {{sentmail}} verify to keep this account secure.</b>
        </div>
    </div>
    <!--end row -->
    <br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            If you havent recieved the email, check your junk/spam folder or Click to send the confirmation again.If it was sent to the wrong address, go back and modify your re-enter your credentials.
        </div>

    </div>
</div>
    