<html ng-app="MainApp">
<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
<link href="css/signup.css" rel="stylesheet" type="text/css" />

<style type="text/css">

.btn-verify { 
  color: #ffffff; 
  background-color: #1BC89B; 
  border-color: #1BC89B; 
} 
 
.btn-verify:hover, 
.btn-verify:focus, 
.btn-verify:active, 
.btn-verify.active, 
.open .dropdown-toggle.btn-verify { 
  color: #ffffff; 
  background-color: #009E74; 
  border-color: #1BC89B; 
} 
 
.btn-verify:active, 
.btn-verify.active, 
.open .dropdown-toggle.btn-verify { 
  background-image: none; 
} 
 
.btn-verify.disabled, 
.btn-verify[disabled], 
fieldset[disabled] .btn-verify, 
.btn-verify.disabled:hover, 
.btn-verify[disabled]:hover, 
fieldset[disabled] .btn-verify:hover, 
.btn-verify.disabled:focus, 
.btn-verify[disabled]:focus, 
fieldset[disabled] .btn-verify:focus, 
.btn-verify.disabled:active, 
.btn-verify[disabled]:active, 
fieldset[disabled] .btn-verify:active, 
.btn-verify.disabled.active, 
.btn-verify[disabled].active, 
fieldset[disabled] .btn-verify.active { 
  background-color: #1BC89B; 
  border-color: #1BC89B; 
} 
 
.btn-verify .badge { 
  color: #1BC89B; 
  background-color: #ffffff; 
}

.card {
    max-width: 500px;
    border-top: 5px solid #229dca;
    background-image: linear-gradient(to bottom, #fff, #fafafa);
    margin-top: 40px;
    border-radius: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 40px;
  }

.login{

    background: #315b74;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,rgba(55,107,176,1) 0,rgba(83,149,200,1) 100%);
}


.login .single-sign-on {
    margin: 0 auto;
    text-align:center;
}
.login .footer {
    margin: 0 auto;
    text-align: center;
}
.login .footer {
  width: 400px;
  padding-top:30px;
  
}
.login .footer a {
  font-size: 15px;
 
}
.login .spacing-top {
  padding-top: 7px !important;
}

.logo-main {
    padding: 15px;
    text-align: center;
    padding-top: 60px;
}
.invalid-id{
    margin-bottom: 5px;
    color: #F30;
    text-align:center;
  }
div.footer
{
    color: white;
}

div.optionButtons
{
    font-size: 12px;
}
h3{
  color: #606060;
}
input { margin-bottom: 10px; }
body, html {
    height: 100%;
    font-family: 'Roboto';
    background-repeat: no-repeat;
    /*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/

    background-image: linear-gradient(to bottom,rgba(55,107,176,1) 0,rgba(83,149,200,1) 100%)
}


</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-messages.min.js"></script>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
<script src="../js/app.js"></script>
<script src="../js/controllers/TestController.js"></script>
<script src="../js/controllers/AppController.js"></script>
<script src="../js/controllers/LoginController.js"></script>
<script src="../js/controllers/SignupController.js"></script>
<!-- <script src="../js/controllers/ValidationController.js"></script> -->
<script src="../js/services/LoginService.js"></script>
<script src="../js/services/SignupService.js"></script>




</head>
   <body class="login">
    <div class="login-background">

        <div class="container">
            <div class="logo-main">
                <img src="assets/img/logonxtorbs.png" alt="logo" width="220px" height="60px">
            </div>
            <div class="card card-container">


                <form ng-submit="testSubmit()" name="loginForm" ng-controller="TestController" novalidate>
                    <center>
                        <h3>Login</h3>
                    </center>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" ng-model="email"  name="email" required />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" ng-model="password"  name="password" required />
                        </div>
                    </div>
                    <br>
                    <div class="invalid-id" ng-show="authMessage">Wrong username or password. Try again!</div>


                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-verify btn-block">
                                Login
                            </button>
                        </div>
                    </div>
                    <br>
                  </form>
                  
                    <div class="optionButtons">
                    <div class="row">
                        <div class="col-md-6" align="left">
                            Don't have an account yet?
                            <a href="signup.html" class="sign-up"> <strong>Sign Up</strong>
                            </a>
                        </div>
                        <div class="col-md-6" align="right">
                            <a href="forgot.html" class="sign-up"> <strong>Forgot Password?</strong>
                            </a>
                        </div>

                    </div>
                  </div>
            </div>
            <!-- card end -->


            <div class="footer">
                Copyright &copy; 2015-NextOrbit. All rights reserved.
            </div>
        </div>
        <!-- /container -->

    </div>

</body>
</html>